a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cardHr {
  width: 2px;
  height: 80px !important;
  display: block;
  position: relative;
  left: -30px;
  background-color: black;
}

.cardContainer {
  width: 0vw;
  height: 20vh;
  min-width: 300px;
  margin: 10px;
}

.cardImage {
  width: 100%;
  height: 200px;
}

.date {
  position: relative;
  top: 100px;
}