a {
  transition: width 2s, height 4s;
}

.timeline {
  margin: 100px;
}

.timeline header {
  display: flex;
  overflow-x: scroll;
}

.timeline .scrollbar {
  height: 60vh;
  display: flex;
  overflow-x: scroll;
}