a {
  transition: width 2s, height 4s;
}

.timeline {
  width: 1150px;
  margin: 100px;
}

.timeline .scrollbar {
  height: 650px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.timeline .scrollbar .blur {
  width: 30px;
  height: 100%;
  filter: blur(10px);
  backdrop-filter: blur(10px)
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.contentBbox {
  width: 1800px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  
}