.timeline {
  width: 1150px;
  margin: 100px;
}

.timeline .scrollbar {
  height: 650px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  touch-action: none;
}

.timeline .scrollbar .blur {
  width: 30px;
  height: 100%;
  filter: blur(10px);
  backdrop-filter: blur(10px)
}
